<% if flash[:notice].present? %>
  <p class="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<div class="container">
  <%=image_tag('logo.svg', class: 'logo')%>

  <%= form_for @subscriber, url: create_subscriber_home_index_path,
    method: :post do |f| %>
    <%= f.email_field :email, required: true, placeholder: "Email",
    class: "field email"%>
    <%= f.text_field :description, placeholder: "Description",
    class: "field description" %>
    <%= f.submit "Create", class: "submit" %>
  <% end %>

  <a href="/privacy" >Privacy policy</a>
</div>
